# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Django stuff:
*.sqlite3
db.sqlite3

# Media
/media

# Static files
/static
/productionfiles

# VS Code
.vscode/

# PyCharm
.idea/
.ruff_cache/

# macOS
.DS_Store

# Windows
Thumbs.db
